In [1]:
import glob
import datetime
import pandas as pd
import numpy as _

In [2]:
result_raw = None

for p in glob.glob('tapr_result_with_threshold_*.csv'):
    data = pd.read_csv(p)
    if result_raw is None:
        result_raw = data
        continue
    result_raw = pd.concat([result_raw, data])
result_raw

     Unnamed: 0  alpha        F1       taP       taR
0             0   1.00  0.025459  0.012953  0.739193
1             1   1.01  0.028285  0.014375  0.874802
2             2   1.02  0.027752  0.014103  0.861867
3             3   1.03  0.028595  0.014563  0.785429
4             4   1.04  0.029790  0.015185  0.779041
..          ...    ...       ...       ...       ...
196         196   2.96  0.009056  0.500000  0.004570
197         197   2.97  0.009056  0.500000  0.004570
198         198   2.98  0.009056  0.500000  0.004570
199         199   2.99  0.008584  0.500000  0.004329
200         200   3.00  0.008584  0.500000  0.004329

[1005 rows x 5 columns]

In [3]:
result_mean = pd.DataFrame(columns=['alpha', 'F1', 'TaP', 'TaR'])
for i in range(0, 201):
    f1_mean = result_raw[result_raw['Unnamed: 0'] == i].F1.mean()
    tap_mean = result_raw[result_raw['Unnamed: 0'] == i].taP.mean()
    tar_mean = result_raw[result_raw['Unnamed: 0'] == i].taR.mean()
    result_mean.loc[len(result_mean)] = [1 + 0.01*i, f1_mean, tap_mean, tar_mean]

In [4]:
current_time = datetime.datetime.now().strftime('%Y%m%d%H%M%S')

In [5]:
result_mean.to_csv(f"tapr_result_mean_{current_time}.csv")

In [6]:
result_mean[result_mean['F1'] == result_mean.F1.max()]

    alpha       F1       TaP       TaR
37   1.37  0.63659  0.606401  0.670212